*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    list-style:none;
}
body{
    display: flex;
    background-color: rgb(236, 253, 243);
}
button{
    border:0px;
    padding: 0.5rem;

}
.selectors{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20%;
    left: 30%;
    gap: 1rem;
    border: 1px silid black;
    background-color: inherit;
}
.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(0) scale(1);
    transition: all 2s ease-in-out;
    top: 10%;
}

.articles-form{
    display: none;
    
}
.poems-form{
    display: none;
}
.curr{
    display: block;
}